<%=form_tag("/user/create")do%>
<div class="user_name">
    <p>ユーザー名</p>
    <input name="name">
</div>
<div class="mail-address">
    <p>メールアドレス</p>
    <input name="email">
</div>
<div class="mail-address">
    <p>パスワード</p>
    <input name="password" type="password">
</div>
<input type="submit" value="新規作成" class="signup">
<% end %>


