// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_form{
    width:500px;
    height:300px;
    font-size: 20px;
}
.post_submit{
    width:80px;
    height:30px;
    background-color: royalblue;
    color:white;
    margin-top: 20px;
}